<!-- Header -->
<ion-header [translucent]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-button (click)="abrirCamera()"  width="30" height="30" slot="end" fill="solid" color="tertiary">
      <ion-icon class="icon-30" name="camera-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<!-- Contenido -->
<ion-content [fullscreen]="true" color="dark">
  <ion-grid *ngIf="fotos.length; else noImg">
    <ion-row>
      <ion-col size="4" *ngFor="let foto of fotos; let i = index">
        <ion-img [src]="foto" (click)="eliminarFoto(foto)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!-- Mensaje Cuando No Hay Imágenes -->
<ng-template #noImg>
  <section class="noImage">
    <ion-label color="light">No hay imágenes para mostrar</ion-label>
  </section>
</ng-template>
